
.modal-title {
    color: #18122B;
    font-family: "Galada", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-size: 18px;
}
.content-wrapper {
    padding: 75px 0; 
}
.form-section {
    /* margin-left: 75px; */
    /* margin-right: 75px; */
    /* padding-left: 34px;  */
}
.form-group-name {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
}

.form-group-name:last-child {
    margin-bottom: 0px;
}
.register-form-signup {
    width: 100%;
}
.user-input {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    box-sizing: border-box;
}
.user-input:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid #999;
}
